[submodule "src/inc/lib/amx-dvx-library"]
	path = src/inc/lib/amx-dvx-library
	url = https://github.com/AMXAUNZ/amx-dvx-library
[submodule "src/inc/lib/amx-dxlink-library"]
	path = src/inc/lib/amx-dxlink-library
	url = https://github.com/AMXAUNZ/amx-dxlink-library
[submodule "src/inc/lib/amx-encoder-library"]
	path = src/inc/lib/amx-encoder-library
	url = https://github.com/AMXAUNZ/amx-encoder-library
[submodule "src/inc/lib/amx-enzo-library"]
	path = src/inc/lib/amx-enzo-library
	url = https://github.com/AMXAUNZ/amx-enzo-library
[submodule "src/inc/lib/amx-device-library"]
	path = src/inc/lib/amx-device-library
	url = https://github.com/AMXAUNZ/amx-device-library
[submodule "src/inc/lib/common-library"]
	path = src/inc/lib/common-library
	url = https://github.com/AMXAUNZ/common-library
